header{
    background:url(../../images/bg-hero-desktop.svg) $very-pale-cyan;
    background-repeat: no-repeat;
    padding: 0 5%;
    $font-header: "Poppins", sans-serif;
    @media screen and (min-width: $xl){
     width: 100%;
     margin: 0 auto;
    }

}