.btn {
  background-color: $pink;
  border: none;
  border-radius: 25px;
  padding: $sp0 $sp2;
  color: $very-pale-cyan;
  font-weight: 900;
   max-width: 240px;
    width: 100%;
    height: 40px;
 
}
.btn-blanco {
  width: 200px;
  height: 48px;
  background-color: white;
  color: rgba(53, 52, 52, 0.979);
  border: 1px solid #fff;
  box-shadow: 5px 5px 10px -1px rgba(56, 56, 56, 0.75);
  font-weight: 900;
}